<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo uofs-section container-fluid" id="">
	<br />
	<h1 class="text-center uofs-page-title"><a>Home</a></h1>
	<br />
	<div class="addByPasting  animated slideInDown col-lg-3 col-md-3 col-xs-12 categories" >
		<div class="row text-center">
			<h3>Crop</h3>
		</div>
		<div class="text-justify">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a  data-target="#collapseOne" data-toggle="collapse" data-parent="#accordion" >Barley Six-row spring</a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<ul class="list-group">
							<li class="list-group-item">
								Cras justo odio
							</li>
							<li class="list-group-item">
								Dapibus ac facilisis in
							</li>
							<li class="list-group-item">
								Morbi leo risus
							</li>
							<li class="list-group-item">
								Porta ac consectetur ac
							</li>
							<li class="list-group-item">
								Vestibulum at eros
							</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a  data-target="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> Barley Two Row</a></h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<ul class="list-group">
							<li class="list-group-item">
								Cras justo odio
							</li>
							<li class="list-group-item">
								Dapibus ac facilisis in
							</li>
							<li class="list-group-item">
								Morbi leo risus
							</li>
							<li class="list-group-item">
								Porta ac consectetur ac
							</li>
							<li class="list-group-item">
								Vestibulum at eros
							</li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a  data-target="#collapseThree" data-toggle="collapse" data-parent="#accordion"> Bean, Pinto</a></h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<ul class="list-group">
							<li class="list-group-item">
								Cras justo odio
							</li>
							<li class="list-group-item">
								Dapibus ac facilisis in
							</li>
							<li class="list-group-item">
								Morbi leo risus
							</li>
							<li class="list-group-item">
								Porta ac consectetur ac
							</li>
							<li class="list-group-item">
								Vestibulum at eros
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="addWithNum  animated slideInDown  col-lg-9 col-md-9 col-xs-12">
		<div class="row text-center">
			<h3>Reviews</h3>
		</div>
		<div class="row dataFieldContainer center-block  text-center">
			<textarea ng-model="dataFieldNum" placeholder="Select options below and click 'Generate Number'. Numbers will show up here. You can also just type or copy and paste a bunch of numbers/characters delimited by comma and use them as your ticket number." 
		class="dataField form-control" type="textarea" style="height: 250px !important; "></textarea>
		</div>
	</div>
	
	<!-- For alpha nav -->
	<!-- <div class="addWithName  animated slideInDown  col-lg-3 col-md-3 col-xs-12" >
	<div class="row dataFieldContainer center-block  text-center">
	<textarea ng-model="dataField" placeholder="Enter the names of guests seperated with comma and click 'Add Guests'"
	class="dataField form-control" type="textarea" style="height: 250px !important; "></textarea>
	</div>
	</div> -->
	<div>
		<!-- {{$storage.x}} -->
		<!-- <p >{{dateString()}}</p> -->
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
</section>

